.box{
  height: 200px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

h1{
  padding: 20px 0;
}

.dayLight{
  background-color: rgb(255, 251, 0);
  height: 200px;
}

.buttonSize{
  height: 35px;
  width: 120px;
  margin-left: 20px;
}
body{
  text-align: center;
}